@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

i {
  color: #ca9bff;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

.navbar ul {
  background-color: black;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  float: left;
  margin-left: 20px;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.navbar li a:hover {
  background-color: white;
  color: black;
}
.navbar #logo:hover {
  background-color: black;
}

.header {
  width: 100%;
  height: 25%;
  padding: 7% 0%;
  line-height: 1.7;
  text-align: center;
  background: linear-gradient(90deg, #690CB0 5%, #6F18B3 40%, rgba(255, 255, 255, 0) 90%, #9A6EBC 110%), #7C36B3;
}
.header h1 {
  color: white;
}

.title {
  margin-top: 20px;
  width: 20%;
}
.title h2 {
  font-weight: bold;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #5e5e5e;
}

.article {
  padding: 5% 15px;
  line-height: 2;
  width: 40%;
}

.content {
  margin-left: 15%;
  display: flex;
}

.document {
  padding: 15px;
  line-height: 1.7;
  float: left;
  width: 47.5%;
  margin-top: 10px;
  height: 100px;
  background-color: #d5b3fd;
  border-radius: 10px;
  text-align: center;
  color: black;
}
.document .deleteDoc {
  float: right;
  margin-right: 10px;
}

.document:nth-child(2n) {
  float: right;
}

.document:hover {
  background-color: #a75bff;
}
.document:hover h2, .document:hover p {
  color: white;
}
.document:hover .deleteDoc:hover i {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 500ms;
  display: none;
  z-index: 2;
  overflow: auto;
}
.overlay #addDocument {
  position: absolute;
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  background-color: #e3caff;
  padding: 40px;
}
.overlay #addDocument a {
  float: right;
  margin-right: 10px;
}
.overlay #addDocument a h1:hover {
  color: white;
}
.overlay #addDocument h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.overlay #addDocument input, .overlay #addDocument textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.overlay #addDocument button {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 40px;
}
.overlay #addDocument button:hover {
  background-color: #e3caff;
  color: white;
}
.overlay #editSourceSettings {
  position: absolute;
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  background-color: #e3caff;
  padding: 40px;
  display: none;
}
.overlay #editSourceSettings a {
  float: right;
  margin-right: 10px;
}
.overlay #editSourceSettings a h1:hover {
  color: white;
}
.overlay #editSourceSettings button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}
.overlay #editSourceSettings button:hover {
  background-color: #e3caff;
}
.overlay #editSourceSettings #menus {
  display: flex;
}
.overlay #editSourceSettings #menus .dropdown {
  overflow: hidden;
  margin: 20px;
}
.overlay #editSourceSettings #menus .dropdown .dropdownContent {
  display: none;
}
.overlay #editSourceSettings #menus .dropdown .dropdownContent a {
  float: none;
  background-color: white;
  display: block;
  padding: 10px;
}
.overlay #editSourceSettings #menus .dropdown .dropdownContent a:hover {
  background-color: black;
  color: white;
}
.overlay #editSourceSettings #menus .dropdown:hover .dropdownContent {
  display: block;
}
.overlay #editSourceSettings #menus h2 {
  background-color: white;
  padding: 10px;
}
.overlay #editSourceSettings #menus h2:hover {
  background-color: black;
  color: white;
}
.overlay #addSource {
  position: absolute;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  background-color: #e3caff;
  padding: 40px;
  display: none;
}
.overlay #addSource a {
  float: right;
  margin-right: 10px;
}
.overlay #addSource a h1:hover {
  color: white;
}
.overlay #addSource button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}
.overlay #addSource button:hover {
  background-color: #e3caff;
}
.overlay #addSource .info {
  margin: 10px 0px;
}
.overlay #addSource .info input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.overlay #addSource .info #datePublished, .overlay #addSource .info #dateAccessed {
  margin: 30px 0px;
}
.overlay #addSource .info #datePublished input, .overlay #addSource .info #dateAccessed input {
  width: 70px;
}
.overlay #addSource #authors {
  margin-top: 30px;
}
.overlay #addSource #authors button {
  padding: 5px 7px;
  background-color: white;
  border: none;
  border-radius: 40px;
}
.overlay #addSource #authors button:hover {
  background-color: #e3caff;
}

#docEditing {
  margin-top: 30px;
  padding: 20px;
}
#docEditing #sources {
  border: 5px solid black;
  padding: 30px;
  border-radius: 20px;
  line-height: 1.7;
  margin-top: 40px;
  overflow: hidden;
}
#docEditing #sources i {
  color: black;
}
#docEditing button {
  margin-top: 40px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 40px;
}
#docEditing button:hover {
  background-color: black;
}
#docEditing button:hover h1 {
  color: white;
}
#docEditing textarea {
  padding: 10px;
  border: 3px solid #200020;
  border-radius: 20px;
  margin-top: 40px;
}
#docEditing #buttons {
  display: flex;
}

#doc {
  display: none;
}

img {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}

.get-started {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding: 120px 0px;
  line-height: 6;
  background-color: #e3caff;
}
.get-started button {
  padding: 15px;
  background-color: black;
}
.get-started button h1 {
  color: white;
}
.get-started button:hover {
  background-color: white;
}
.get-started button:hover h1 {
  color: black;
}

footer {
  background-color: #530777;
  padding: 40px 0px;
  text-align: center;
  line-height: 2;
}
footer h2 {
  color: white;
}

/*# sourceMappingURL=style.css.map */
